.App {
  text-align: center;
}

.table > :not(caption) > * > * {
  padding: 0.8rem 0.8rem !important;
}


.btn-outline-secondary {
  --bs-btn-hover-color: #000000 !important;
  --bs-btn-hover-bg: transparent !important;
}

.btn:focus {
  box-shadow: none !important;
}


/* .form-control:focus {
  box-shadow: none !important;
} */

.thead-dark{
  background-color:black;
  color: #ffff;
}

.selected-row {
  background-color: #180a0a !important;
}